<h1>Lista de Livros</h1>
<div class="container">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Número de Páginas</th>
        <th scope="col">Alterar</th>
        <th scope="col">Excluir</th>
        </tr>
    </thead>
    {{#each result}}
    <tbody>
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.titulo}}</td>
            <td>{{this.nmr_pags}}</td>
            <td><a href="/books/alterarbooks?id={{this.id}}">ALTERAR</a></td>
            <td><a href="/books/excluirbooks?id={{this.id}}">EXCLUIR</a></td>
        </tr>
    </tbody>
    {{/each}}
    </table>
</div>